<router-outlet></router-outlet>

<form [formGroup]="rubric">
  <h3>Rúbrica:</h3>

  <div
    formArrayName="criteria"
    *ngFor="let control of criteria.controls; index as i"
  >
    <div [formGroupName]="i">
      <label>Criterio:</label><br />
      <input type="text" formControlName="criteria" />
      <button (click)="deleteCriteria(i)">Borrar</button>
    </div>
  </div>
  <button (click)="addCriteria()">+ Añadir</button>

  <hr />

  <!-- <div
    formArrayName="parameters"
    *ngFor="let control of parameters.controls; index as i"
  >
    <div [formGroupName]="i">
      <label>Parámetro:</label><br />
      <input type="text" formControlName="parameter" />
      <button (click)="deleteParameter(i)">Borrar</button>
    </div>
  </div>
  <button (click)="addParameter()">+ Añadir</button> -->

  <label>Rango de calificación:</label><br />
  <input type="text" formControlName="parameter" />

  <br />
  <button (click)="showForm()">Show Values</button>
</form>
